<div class="profile-container">
  <div class="avatar-large">
  <div class="profile-text">
     <h4>Jascha Drel</h4>
  </div>
  <div class="profile-location">
    <i class="fas fa-map-marker"></i>  <p>London</p>
  </div>
</div>

<div class="profile-details-container">
</div>
