<div class="consultation-container">
<div class="info-box">

  <img src="https://www.formacionmach.es/wp-content/uploads/2017/03/check-verde.png" alt="">
  <br>
  <h5>Your appointment is successfully booked.</h5>
  <br>
  <p> Your appointment has been scheduled with <strong><%= @consultation.lawyer.user.full_name %></strong>  at <strong><%= @consultation.appointment_time.strftime('%H:%M') %></strong>  on <strong><%= @consultation.appointment_time.strftime('%A, %b %d') %></strong>. </p>
  <br>
  <p>You will receive a confirmation whenever the lawyer confirms the booking. </p>
  </div>
</div>

<div class="btn-center">
  <%= link_to "Back to lawyers", root_path, class: "btn btn-outline-primary" %>
</div>

