<h2>Your appointment is booked.</h2>

<p> Your appointment has been booked with <%= @consultation.lawyer.user.full_name %> at <%= @consultation.appointment_time.strftime('%H:%M') %> on <%= @consultation.appointment_time.strftime('%A, %b %d') %>. You will receive a confirmation whenever the lawyer confirms the booking. </p>
