<h2>Your Videocall Summary</h2>
<br>
 <%=  image_tag(@consultation.lawyer.photo) %>
<p>Your videocalll with <%= @consultation.lawyer.user.first_name + " " + @consultation.lawyer.user.last_name %> had a duration of <%= @consultation.duration/600%> minutes and cost you $<%= @consultation.client_amount_cents/1000 %>.</p>
<br>
<small>Thank you for trusting Justitia!</small>

