<h2>Your Videocall Summary</h2>
<p>Your videocalll with <%= @consultation.lawyer.user.first_name + " " + @consultation.lawyer.user.last_name %> had a duration of <%= @consultation.duration_to_minutes%> minutes and cost you <%= humanized_money_with_symbol @consultation.client_amount %>.</p>
<br>
<small>Thank you for trusting Justitia!</small>

