<h1>New appointment</h1>

<%= simple_form_for(@consultation, :method => :post, :url => new_appointment_path) do |f| %>
  <%= text_field_tag :start_time, nil, id: "input" %>
  <%= f.submit "submit" %>
<% end %>

<script>
  $('#input').datetimepicker({ footer: true, modal: true });
</script>
