<div class="home-container">
  <div class="hero-image">
    <div class="hero-text">
      <h2>Get professional legal advice</h2>
      <br>
      <p>100,000 experienced lawyers ready to videochat confidentially</p>
      <%= form_tag lawyers_path, method: :get do %>
      <%= text_field_tag :category, params[:name], placeholder: "Type a law field...", class: "form-homepage", 'data-categories' => @categories_names_json  %>
      <%= submit_tag("Search", :class=>"btn btn-light", :name=>"submit", style: "margin-top: 15px;") %>
      <% end %>
    </div>
  </div>
</div>

<div class="cards-container">
  <div class="icon-card">
   <div class="icon">
    <i class="fas fa-car fa-5x"></i>
  </div>
  <div class="icon-description">
    <p class="text-center">Car Accident</p>
  </div>
</div>

<div class="icon-card">
  <div class="icon">
    <i class="fas fa-home fa-5x"></i>
  </div>
  <div class="icon-description">
    <p class="text-center">Real Estate</p>
  </div>
</div>


<div class="icon-card">
 <div class="icon">
  <i class="fas fa-users fa-5x"></i>
</div>
<div class="icon-description">
  <p class="text-center">Family</p>
</div>
</div>



<div class="icon-card">
 <div class="icon">
  <i class="fas fa-gavel fa-5x"></i>
</div>
<div class="icon-description">
  <p class="text-center">Civil Rights</p>
</div>
</div>


<div class="icon-card">
 <div class="icon">
  <i class="fas fa-id-card-alt fa-5x"></i>
</div>
<div class="icon-description">
  <p class="text-center">Immigration</p>
</div>
</div>

<div class="icon-card">
 <div class="icon">
   <i class="fas fa-dollar-sign fa-5x"></i>
 </div>
 <div class="icon-description">
  <p class="text-center">Bankruptcy</p>
</div>
</div>
</div>
