<div class="home-container">
  <div class="hero-image">
    <div class="hero-text">
      <h2 style="color: white;">Get professional legal advice</h2>
      <br>
      <p stlye="color: white; font-weight: lighter;">100,000 experienced lawyers ready to videochat confidentially</p>
      <input type="text" placeholder="Choose legal field">
      <br>
      <button class="btn btn-light" style="margin-top: 15px;">Search</button>
    </div>
  </div>
</div>

<div class="cards-container">
        <div class="icon-card">
          <i class="fas fa-car fa-5x"></i>
        </div>

        <div class="icon-card">
          <i class="fas fa-home fa-5x"></i>
        </div>


        <div class="icon-card">
          <i class="fas fa-users fa-5x"></i>
        </div>



        <div class="icon-card">
          <i class="fas fa-gavel fa-5x"></i>
        </div>


        <div class="icon-card">
          <i class="fas fa-id fa-5x"></i>
        </div>

        <div class="icon-card">
          <i class="fas fa-passport fa-5x"></i>
        </div>
</div>
