<div class="home-container">
  <div class="hero-image">
    <div class="hero-text">
      <h2>Get professional legal advice</h2>
      <br>
      <p>100,000 experienced lawyers ready to videochat confidentially</p>
      <%= form_tag lawyers_path, method: :get, class: "form-group" do %>
      <%= select_tag :category, options_for_select(@categories_names), class: "form-control background-grey", prompt: "Select your category"  %>
      <%= submit_tag("Search", :class=>"btn btn-light", :name=>"submit", style: "margin-top: 15px;") %>
      <% end %>
    </div>
  </div>
</div>

<div class="cards-container">
  <div class="icon-card">
   <div class="icon">
    <i class="fas fa-car fa-5x"></i>
  </div>
  <div class="icon-description">
    <p>Car Accident</p>
  </div>
</div>

<div class="icon-card">
  <div class="icon">
    <i class="fas fa-home fa-5x"></i>
  </div>
  <div class="icon-description">
    <p>Real Estate</p>
  </div>
</div>


<div class="icon-card">
 <div class="icon">
  <i class="fas fa-users fa-5x"></i>
</div>
<div class="icon-description">
  <p>Family</p>
</div>
</div>



<div class="icon-card">
 <div class="icon">
  <i class="fas fa-gavel fa-5x"></i>
</div>
<div class="icon-description">
  <p>Civil Rights</p>
</div>
</div>


<div class="icon-card">
 <div class="icon">
  <i class="fas fa-id-card-alt fa-5x"></i>
</div>
<div class="icon-description">
  <p>Immigration</p>
</div>
</div>

<div class="icon-card">
 <div class="icon">
   <i class="fas fa-dollar-sign fa-5x"></i>
 </div>
 <div class="icon-description">
  <p>Bankruptcy</p>
</div>
</div>
</div>
