<nav class="navbar navbar-light d-flex p-2">
  <a class="navbar-brand navbar-title" href="#" style="color: #271AC3; text-shadow: 0 1px 3px rgba(0,0,0,0.6); font-size: 28px; align-items: center;">JUSTITIA</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="home-container">
  <div class="hero-image">
    <div class="hero-text">
      <h2 style="color: white;">Get professional legal advice</h2>
      <br>
      <p stlye="color: white; font-weight: lighter;">100,000 experienced lawyers ready to videochat confidentially</p>
      <input type="text" placeholder="Choose legal field">
      <br>
      <%#= submit_tag("Search", :class=>"btn btn-light", :name=>"Search") %>
      <%= link_to "Search", lawyers_path, class: "btn btn-light", style: "margin-top: 15px;" %>
    </div>
  </div>
</div>

<div class="cards-container">
        <div class="icon-card">
           <div class="icon">
          <i class="fas fa-car fa-5x"></i>
          </div>
          <div class="icon-description">
          <p class="text-center">Car Accident</p>
          </div>
        </div>

        <div class="icon-card">
          <div class="icon">
          <i class="fas fa-home fa-5x"></i>
          </div>
          <div class="icon-description">
          <p class="text-center">Real Estate</p>
          </div>
        </div>


        <div class="icon-card">
           <div class="icon">
          <i class="fas fa-users fa-5x"></i>
          </div>
           <div class="icon-description">
          <p class="text-center">Family</p>
          </div>
        </div>



        <div class="icon-card">
           <div class="icon">
          <i class="fas fa-gavel fa-5x"></i>
          </div>
           <div class="icon-description">
          <p class="text-center">Civil Rights</p>
          </div>
        </div>


        <div class="icon-card">
           <div class="icon">
              <i class="fas fa-id-card-alt fa-5x"></i>
          </div>
           <div class="icon-description">
          <p class="text-center">Immigration</p>
          </div>
        </div>

        <div class="icon-card">
           <div class="icon">
         <i class="fas fa-dollar-sign fa-5x"></i>
          </div>
           <div class="icon-description">
          <p class="text-center">Bankruptcy</p>
          </div>
        </div>
</div>
