<h1>Video Tests</h1>

<div id="remote-media"></div>

<div id="local-media"></div>

<form action="#">
  <input type="text" id="token">
</form>


<button id="my-button" class="btn btn-primary">Join Video Room</button>
