/*---- base ----*/

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#banner {
    position: relative;
    width: 160px;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    visibility: hidden;
    background-color: #f8f8ec;
}

#border {
    border: 1px solid #666;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.blockElement {
    position: absolute;
    width: 100%;
    height: 100%;
} 

#overlay {
    background-color: #fff;
}

/*---- base ends ----*/