.avatar-large {
  width: 150px;
  height: 150px;
  margin: 15px 0 0 15px;
  border-radius: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url("justitia_ninja.png");
}
