.cards-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
}

.icon-card {
  height: 150px;
  width: 150px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: $dark-blue;
  margin: 25px;
  padding: 30px 0 0px 35px;
}

.lawyers-container {
  margin:15px;
}

.lawyer-card {
  box-shadow: 2px 2px 15px -1px rgba(39,26,195,1);
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
  align-items: center;
  position: relative;
  h5 {
  color: $dark-blue;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: $gray-dark;
  }

.online-circle{
  background-color: $online-green;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;

}

.lawyer-avatar {
  width: 50%;
  display:flex;
  justify-content: center;
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

}
.lawyer-decription{
  width:50%;
}
}
