.background-grey {
  background-color: rgba(255,255,255,0.8);
}

.filter-lawyers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-container {
  padding-left: 35px;
}
