.background-grey {
  background-color: rgba(255,255,255,0.8);
}

.filter-lawyers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sign-up-form {
  padding-left: 80px;
  padding-right: 80px;
}
