.video-container {
  padding: 10px;
}

.video {
  width: 100vw;
  position: relative;
}

#remote-media video {
  position: absolute;
  width: 100vw;
}

#local-media video {
  width: 25vw;
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
}

.position-button {
  position: absolute;
  top: 350px;
  left: 142px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 205px;
}

#start-videochat {
  margin-left: 116px;
  margin-right: 116px;
  margin-top: 25px;
}
