.profile-position {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.profile-text {
  font-size: 20px;
}

.text-position {
  font-size: 11px;
  font-weight: lighter;
  margin-bottom: 0;
}

.basic-info {
  margin: 20px 20px;
}

.button-position {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}

#description-position {
  margin: 30px 20px 0 20px;
  h5 {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
  }
}

.review-position {
  display: flex;
  justify-content: space-around;
}

#review-size {
  width: 350px;
  height: 330px;
}
